# CODEOWNERS - default owners for the entire repo
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @boxingoctopus
